.docsLayout {
  display: flex;
  gap: 2em;
  padding-bottom: 1em;
  position: relative;
}

.docsArticle {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
}

.docsArticle pre {
  background-color: lightgray;
  padding: 1em;
  border-radius: var(--radius);
  white-space: pre-wrap;
}

.docsArticle p code,
.docsArticle ul > code {
  background-color: lightgray;
  padding: 0.3em;
  border-radius: var(--radius);
}

.docsArticle ul li {
  margin-bottom: 2em;
  margin-left: 1em;
}

.docsArticle ul pre {
  margin: 1em 0;
}
