.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.tile {
  padding: 2em;
  border-radius: var(--radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tile:first-child {
  margin-bottom: 2em;
}

.tile:nth-child(2) {
  margin-top: 2em;
}

.tile:nth-child(3) {
  margin-top: -2em;
  margin-bottom: 2em;
}

.tile h2 {
  margin: 0.3em 0;
}

@media (max-width: 500px) {
  .features {
    grid-template-columns: 1fr;
  }

  .tile:first-child {
    margin-bottom: 0;
  }

  .tile:nth-child(2) {
    margin-top: 0;
  }

  .tile:nth-child(3) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
