* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --highlight: rebeccapurple;
  --highlight-dark: rgb(90, 46, 134);
  --radius: 5px;
}

::selection {
  background-color: var(--highlight);
  color: white;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  font-size: inherit;
}
