.header {
  max-width: 1200px;
  margin: auto;
  padding: 1em 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 1.2em;
}

.nav {
  display: flex;
  gap: 1em;
  align-items: center;
}

.themeBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburgerBtn {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

.header a {
  transition: color 150ms;
}

.header button {
  color: inherit;
}

.header a:hover,
.header button:hover {
  color: var(--highlight);
}

@media (max-width: 800px) {
  .hamburgerBtn {
    display: block;
  }

  .hiddenDocsBtn {
    display: none;
  }
}
