.headerOuter {
  border-bottom: 1px solid lightgray;
}

.headerInner {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerInner h1 {
  font-size: 1.5em;
}

.nav {
  display: flex;
  gap: 1em;
}
