.headerOuter {
  border-bottom: 1px solid lightgray;
}

.headerInner {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerInner h1 {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 1.2em;
}

.nav {
  display: flex;
  gap: 1em;
  align-items: center;
}

.hamburgerBtn {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

@media (max-width: 800px) {
  .hamburgerBtn {
    display: block;
  }
}
