.linksContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1em -1em 2em -1em;
  gap: 1em;
}

.linksSection {
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: var(--gray-lighter);
}

@media (min-width: 1000px) {
  .linksContainer {
    justify-content: space-between;
  }
}
