.linksContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.linksSection {
  margin: 1em 0;
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: var(--gray-lighter);
}
