.linkBox {
  flex: 1 1 0;
  padding: 1em;
  border-radius: var(--radius);
  max-width: 330px;
  transition: all 150ms;
}

.linkBox:hover {
  background-color: var(--gray);
}

.linkBox h2 {
  display: flex;
  align-items: center;
  gap: 0.2em;
  white-space: nowrap;
  margin-bottom: 0.5em;
}

.linkBox div {
  margin-right: 0.1em;
}

@media (max-width: 600px) {
  .linkBox {
    max-width: 100%;
  }
}
