.container {
  display: flex;
  margin-top: 2em;
}

.nextLink {
  margin-left: auto;
}

.nextLink,
.prevLink {
  width: fit-content;
  padding: 1em;
  border-radius: var(--radius);
  transition: background-color 150ms;
}

.nextLink:hover,
.prevLink:hover {
  background-color: var(--foreground-high-contrast);
}

.linkLabel {
  color: #666;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  gap: 0.2em;
}
