.sideBar {
  list-style-type: none;
  min-width: 10em;
}

.sideBar > li > a {
  display: block;
  padding: 0.5em;
  border-radius: var(--radius);
}

.sideBar > li > a:not(.activeLink):hover {
  background-color: lightgray;
}

.activeLink {
  background-color: var(--highlight);
  color: white;
}

@media (max-width: 800px) {
  .sideBar {
    display: none;
    position: fixed;
    background-color: white;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .openHamburger {
    display: block;
  }
}
