.sideBar {
  list-style-type: none;
  min-width: 10em;
}

.sideBar > li > a {
  display: block;
  padding: 0.5em;
  border-radius: var(--radius);
}

.sideBar > li > a:not(.activeLink):hover {
  background-color: lightgray;
}

.activeLink {
  background-color: var(--highlight);
  color: white;
}
