.sideBar {
  list-style-type: none;
  min-width: 10em;
  position: sticky;
  top: 0;
  align-self: flex-start;
  padding-top: 1em;
}

.sideBar > li > a {
  display: block;
  padding: 0.5em;
  border-radius: var(--radius);
  transition: all 150ms;
  margin-bottom: 0.5em;
}

.activeLink {
  background-color: var(--highlight-light);
}

.sideBar > li > a:not(.activeLink):hover {
  background-color: var(--foreground-high-contrast);
}

@media (max-width: 800px) {
  .sideBar {
    display: none;
    position: fixed;
    background-color: var(--background);
    height: 100%;
    top: 0;
    left: 0;
    padding: 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .openHamburger {
    display: block;
  }
}
