.welcome {
  padding: 2em 0;
  display: flex;
  gap: 7em;
  align-items: center;
}

.welcome h1 {
  font-size: 2.5em;
  white-space: nowrap;
}

.welcome > div > p {
  margin: 1em 0;
}

@media (max-width: 1000px) {
  .welcome {
    flex-direction: column;
    gap: 5em;
  }

  .welcome h1 {
    white-space: normal;
  }
}

@media (max-width: 1000px) and (min-width: 550px) {
  .welcome > div:first-child {
    text-align: center;
  }

  .welcome a {
    margin: auto;
  }
}
