.welcome {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
}

.welcome h1 {
  font-size: 3em;
}

.welcome p {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.welcome img {
  width: 40%;
}

@media (max-width: 800px) {
  .welcome img {
    display: none;
  }
}
